{% extends 'home/base.html' %}
{% block title %}About Us | VisionWare{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container">
<br>
<br>
<br>
<p>
    <strong>Every student needs to work daily on programming concepts to strengthen his/her skills.
    So at VisionWare we provide the platform where every student can learn something and also implement and practice
        on daily basis.</strong></br>
    It is established by the STUDENTS for the STUDENTS.
    We focus on real time Learning experience by Working on Small projects along with theory lectures.
    Here Quality is Everything and never compromised.
</p>
<h2>History</h2>
<hr>
<p>
With the motivation that every student should get an adequate knowledge of his/her
    field in much affordable Fees and in more efficient Manner.Our organization is established
    in 2016. We have successfully completed first two batches ie Programming in C and
    Programming in C++.After completion of batches we collected feedback from student,
    which is very excellent.
</p>
<h2>Why we are different</h2>
<hr>
<p>
In today's world where Education is considered as a business by various Institutes.
    but when Buisness begins Education Ends.We provide Courses in an efficient manner
    with very low fees.
</p>
<p>
     At VisionWare theory is implemented to create great things.we build real life projects
    Parallel to our Lectures.The main thing is we provide overall guidance for the betterment
    of a student as only a student can understand a student and hence we are working
    with motto "for the students by the students".

</p>
    <br>
<br>
</div>
{% endblock %}