{% extends 'home/base.html' %}
{% block title %}About Us{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container">
<br>
<br>
<br>
<p>
    VisionWare is an organization providing Training for IT Students.
    It is the first organization which came up with the motto "For the Students By The Students".
    We believe that student can understand everything about a student much better than the Professors.
    Under VisionWare excellent and extremely qualified Student Teachers works for the betterment of Students.
    We focus on real time Learning experience by Working on Small projects along with theory lectures.
    Here Quality is Everything and never compromised.
</p>
<h2>History</h2>
<hr>
<p>
With the motivation that every IT student should get an adequate knowledge of his/her
    field in much lesser Fees and in more efficient Manner.Our organization is established
    in 2016. we have successfully completed first two batches ie Programming in C and
    Programming in C++.After completion of batches we collected feedback from student.
    which is very excellent.
</p>
<h2>Why we are different</h2>
<hr>
<p>
In today's world where Education is considered as a business by various Institutes.
    but when Buisness begins Education Ends.We provide Courses in an efficient manner
    with very low fees.
</p>
<p>
     At VisionWare theory is implemented to create great things.we build real life projects
    Parallel to our Lectures.The main thing is we provide overall guidance for the betterment
    of a student as only a student can understand a student and hence we are working
    with motto "for the students by the students".

</p>
</div>
{% endblock %}