<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="VisionWare is an IT / Software Training Institute ,
        We provide training for C, C++, Core Java, Advanced Java, Python, Placement Preparation etc.
        Our motto is to Provide Quality education in affordable Price.
        Best programming class in akurdi nigdi pradhikaran pcmc region." />
    <meta name="author" content="Rushikesh Phalke" /> {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/base_style.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/index_style.css'%}">
    <link rel="apple-touch-icon" href="{% static 'home/images/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'home/images/favicons/android-icon-192x192.png' %}">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar top_navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{%url 'home:index' %}">
            <img src="{% static 'home/images/new_logo.png' %}" alt="VisionWare" class="visionware-brand d-inline-block align-middle mr-2">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home:display_all_courses' %}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home:display_all_study_material' %}">Study Material</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Placements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    {%if request.user.is_authenticated%}
                    <a class="nav-link" href="{%url 'home:feedback' %}">feedback</a> {% endif %}
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                {%if request.user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello {{request.user}}
                          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{%url 'home:dashboard' %}">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{%url 'home:logout_user' %}">Logout</a>
                    </div>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home:login_user' %}">
                        <button type="button" class="btn btn-outline-dark">Log In</button>
                    </a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    <div>
        <div class="col-md-6 offset-md-3">
            {% include 'home/messages.html' %}
        </div>
        {% block body %} {% endblock %}
    </div>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <p class="footer-title">ABOUT VISIONWARE</p>
                    <p class="footer-text">
                        VisionWare is a category defining software development and training company focused on helping organizations translate the big promise of Information Technology into quantifiable business impact.
                    </p>
                </div>
                <div class="col-lg-4 offset-lg-1 col-6">
                    <p class="footer-title">QUICK LINKS</p>
                    <p class="footer-text">
                        <div class="footer-link"><i class="fa fa-link" aria-hidden="true"></i><a href="#">Classroom
                                Trainings</a></div>
                        <div class="footer-link"><i class="fa fa-link" aria-hidden="true"></i><a href="#">Learn
                                Online</a></div>
                        <div class="footer-link"><i class="fa fa-link" aria-hidden="true"></i><a href="#">Contact Us</a>
                        </div>
                    </p>
                </div>
                <div class="col-lg-4 col-12">
                    <p class="footer-title">ADDRESS</p>
                    <p class="footer-text">
                        VisionWare IT Training Institute, Chaitanya Park 4, near Dharmaraj Chowk, Akurdi, Pimpri-Chinchwad, Pune, 411044
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">2019 visionware.in | All Rights Reserved | Design by : Team VW</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {% block script%}{% endblock %}
</body>

</html>