<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load staticfiles %}
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="google-site-verification" content="6ClMQAm2C__V_DyND68ELIIG9CJsibS01EyrZ4OKzjA" />

    <meta name="description" content="VisionWare is an IT / Software Training Institute ,
    We provide training for C, C++, Core Java, Advanced Java, Python, Placement Preparation etc.
    Our motto is to Provide Quality education in affordable Price.
    Best programming class in akurdi nigdi pradhikaran pcmc region." />
    <meta name="author" content="Rushikesh Phalke" />

      <!-- BOOTSTRAP CORE STYLE CSS -->
    <link rel="shortcut icon" type="image/png" href="{%  static 'home/images/favicon.ico' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}" />
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/font-awesome.min.css' %}"  />
     <!-- FLEXSLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/flexslider.css'%}" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link rel="stylesheet" type="text/css"href="{% static 'home/css/style.css'%}" rel="stylesheet" />
    <!-- Animate css-->
    <link rel="stylesheet" type="text/css"href="{% static 'home/css/animate.css'%}" rel="stylesheet">
    <!-- Google	Fonts -->
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300'  />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top " id="menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{%url 'home:index'%}"><img alt="Pioneering | Refining | Developing"  src="{%static 'home/images/logo.png'%}" height="75"></a>
        </div>
        <div class="navbar-collapse collapse move-me">
            <ul class="nav navbar-nav navbar-right">
                <li ><a class="nav-link" href="{%url 'home:index'%}">Home</a></li>
                <li><a class="nav-link" href="{%url 'home:aboutus'%}">About us</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for course in all_courses %}
                        <li><a href="{%url 'home:course_details' course_name=course.course_name%}">{{course.course_name}}</a></li>
                        {% endfor %}
                    </ul>
                <li ><a class="nav-link  animated infinite flash" href="#" target="_blank">Placement For Sure</a></li>
                <li><a  href="{%url 'home:admission'%}">Online Admission</a></li>
                <li> <a class="nav-link" href="https://visionwareforum.blogspot.in" target="_blank">Blog</a></li>
                {%if user.is_authenticated%}
                <li><a class="nav-link" href="{%url 'home:students'%}">Students</a></li>
                {%endif%}
                <li><a class="nav-link" href="{%url 'home:contactus'%}">Contact us</a></li>
                {%if user.is_authenticated%}
                <li ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello {{user.username}}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{%url 'home:user_options'%}">Options</a></li>
                        <li><a class="dropdown-item" href="{%url 'home:logout_user'%}">Logout {{user.username}}</a></li>
                    </ul>
                </li>
                {%else%}
                <li ><a class="nav-link" href="{%url 'home:login_user'%}">LogIn</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>

{% block body %}

{% endblock %}
<nav class="" id="footer">
  <div class="container">
    &copy 2019 visionware.in | All Rights Reserved | Design by : Team VW
  </div>
</nav>

<!--  Jquery Core Script -->
    <script src="{% static 'home/js/jquery-1.10.2.js'%}"></script>
    <!--  Core Bootstrap Script -->
    <script src="{% static 'home/js/bootstrap.js'%}"></script>
    <!--  Flexslider Scripts --> 
         <script src="{% static 'home/js/jquery.flexslider.js'%}"></script>
     <!--  Scrolling Reveal Script -->
    <script src="{% static 'home/js/scrollReveal.js'%}"></script>
    <!--  Scroll Scripts --> 
    <script src="{% static 'home/js/jquery.easing.min.js'%}"></script>
    <!--  Custom Scripts -->
    <script src="{% static 'home/js/custom.js'%}"></script>
  </body>
</html>
