{% extends 'home/base.html' %} {% block title %}Contact Us | VisionWare{% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<section class="container mb-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-4">
            <div class="shadow">
                <div class="pl-5 pr-5 pt-2 pb-2">
                    <p class="section-heading">Our Location </p>
                    <hr>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.3355086499214!2d73.75977855083156!3d18.64893448727222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9519ea00ccd%3A0xd7973cc9e2c642de!2sVisionWare+IT+training+institute!5e0!3m2!1sen!2sin!4v1546050998130"
                        width="100%" height="443" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-4">
            <div class="shadow">
                <div class="pl-5 pr-5 pt-2 pb-2">
                    <p class="section-heading">Contact Information </p>
                    <hr>
                    <p><strong>Email Us :</strong></p>
                    <p style="color: gray;">
                        admin@visionware.in</br>
                        visionware.pune@gmail.com</br>
                        visionware70@gmail.com</br>
                    </p>
                    <hr>
                    <p><strong>Call Us :</strong></p>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Admission Queries</p>
                            <p style="color: gray;">
                                9665174254</br>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p>VisionWare Admin</p>
                            <p style="color: gray;">
                                9665174259</br>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <p><strong>Reach Us :</strong></p>
                    <p style="color: gray;">
                        VisionWare IT Training Institute<br> Chaitanya Park, Plot 7/7, sector 29<br> DY Patil College Rd, Dharmaraj Chowk<br> Akurdi, Pimpri-Chinchwad, Maharashtra 411033<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}