{% extends 'home/base.html' %}
{% block title %}Contact Us | VisionWare{% endblock %}

{% block body %}
{% load staticfiles %}
<br>
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><strong>Our Location </strong></h2>
      <hr>
        <p class="card-text">
            <div class="row">
          <div class="col sm-6">
              <a href="https://goo.gl/maps/GEUhvxMNriy" target="_blank"><img alt="address"  src="{%static 'home/images/address.jpg'%}"  height="180"></a>
              </div>
          <div class="col sm-6">
             <p>
                VisionWare IT Training Institute<br>
                Chaitanya Park, Plot 7/7, sector 29<br>
                DY Patil College Rd, Dharmaraj Chowk<br>
                Akurdi, Pimpri-Chinchwad, Maharashtra 411033<br>

            </p>
          </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><strong>Contact Information </strong></h2>
          <hr>
        <p class="card-text">
            <h4>Email</h4>
            admin@visionware.in</br>
        </p>
            <hr >
          <p class="card-text">
            <h4>Rushikesh Phalke</h4>
            rushikeshsp25@gmail.com</br>
            7775910607</br>
        </p>
          <hr>
          <p class="card-text">
              <h4>Ashitosh Dhapate</h4>
              dhapateashu.ad@gmail.com</br>
              8793915860</br>
          </p>
        <hr>
      </div>
    </div>
  </div>
</div>
  </div>
{% endblock %}
