{% extends 'home/base.html' %}
{% block title %}Contact Us{% endblock %}

{% block body %}
{% load staticfiles %}
<br>
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><strong>Our Location </strong></h2>
      <hr>
        <p class="card-text">
            <div class="row">
          <div class="col sm-6">
            <img alt="address"  src="{%static 'home/images/address.jpg'%}"  height="180">
              </div>
          <div class="col sm-6">
            <h4>Vision Ware</h4>
            Bhandarkar Acadamy Classroom , Suyog Lane<br>
            Near PCCOE College<br>
            Nigdi Pradhikaran , Pune , 411044<br>
          </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><strong>Contact Information </strong></h2>
          <hr>
        <p class="card-text">
            visionware70@gmail.com</br>
        </p>
            <hr >
          <p class="card-text">
            <h4>Rushikesh Phalke</h4>
            rushikeshsp25@gmail.com</br>
            7775910607</br>
        </p>
          <hr>
          <p class="card-text">
              <h4>Ashitosh Dhapate</h4>
              dhapateashu.ad@gmail.com</br>
              8793915860</br>
          </p>
        <hr>
          <p class="card-text">
              <h4>Neha Awate</h4>
              nehaawate@gmail.com</br>
              7719948370</br>
          </p>
      </div>
    </div>
  </div>
</div>
  </div>
{% endblock %}
