{% extends 'home/base.html' %} {% block title %}Dashboard | VisionWare {% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<section class="container mt-4 mb-4">
    <p class="section-heading mt-4">Admin Dashboard</p>
    <hr>
    <div>
        <p class="section-heading mt-4">Students</p>
        <a class="btn btn-success" href="{%url 'home:students'%}">View Students</a>
    </div>
    <hr>
    <div>
        <p class="section-heading mt-4">Create a New</p>
        <a class="btn btn-success" href="{%url 'home:create_new_course'%}">Course</a>
        <a class="btn btn-success" href="{%url 'home:create_new_batch'%}">Batch</a>
        <a class="btn btn-success" href="{%url 'home:feedback_questions_new'%}">Feedback Question</a>
        <a class="btn btn-success" href="{%url 'home:create_new_study_material'%}">Study Material</a>
    </div>
    <hr>
    <div>
        <p class="section-heading mt-4">Reports</p>
        <a class="btn btn-success" href="{%url 'home:notWorkingLinks'%}">Not reachable Links</a>
    </div>
    <hr>
    <div>
        <p class="section-heading mt-4">Feedback</p>
        <a class="btn btn-success" href="{%url 'home:create_new_feedback'%}">Batch Feedback</a>
        <a class="btn btn-success" href="{%url 'home:feedback_questions'%}"> Feedback Questions</a>
        <a class="btn btn-success" href="{%url 'home:display_feedback_enabled_batches'%}">Feedback analysis</a>
    </div>
    <hr>
    <div>
        <p class="section-heading mt-4">Online Campaign</p>
        <a class="btn btn-success" href="{%url 'home:online_campaign'%}">Online Campaign</a>
        <a class="btn btn-success" href="{%url 'home:display_online_campaigns'%}">Previous Campaigns</a>
    </div>
    <hr>

</section>
{% endblock %} {% block script%}
<script>
</script>
{% endblock %}