{% extends 'home/base.html' %} {% block title %}C, C++, Java, Python, Web Development Training / Class | VisionWare {% endblock %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'home/css/study_course.css'%}"> {% endblock %} {% block body %}
<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-md-2">
            Ads goes here
        </div>
        <div class="col-md-8">
            <h2>{{course_name}}</h2>
            <div class="row">
                {{content | safe}}
            </div>
        </div>
        <div class="col-md-2">
            Some other trending course suggestions and visionware batches info goes here
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script>
</script>
{% endblock %}