{% extends 'home/base.html' %} {% block title %}Feedback Batches | VisionWare{% endblock %} {% block head %}
{% load static %} {% endblock %} {% block body %}
<div class="container">
    <section style="margin: 2%;">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Batch Name</th>
                    <th scope="col">Feedback Title</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in feedback_batches %}
                <tr>
                    <td>{{i.batch_id}}</td>
                    <td>{{i.feedback_title}}</td>
                    <td>{{ i.start_date}}</td>
                    <td>{{ i.end_date }}</td>
                    <td><a href="{% url 'home:feedback_analysis_questions' feedback_batch_id=i.id %}"><button type="button"
                                class="btn btn-primary">View Response</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}