{% extends 'home/base.html' %} {% block title %}Feedback Enabled Batches | VisionWare{% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<div class="container">
<section style="margin: 2%;">
        <p class="section-heading">Feedback Enabled Batches</p>
        <br>
    <div class="col-md-6" style="margin: 2px;">
    <div class="list-group">
    {% for i in feedback_enabled_batches %}
         <a href="{% url 'home:feedback_analysis_questions' batch_id=i.id %}" class="list-group-item list-group-item-action">{{i.batch_name}}</a>
     {% endfor %}
      </div>
    </div>
</div>
</section>
{% endblock %}