<head><title>DBMS</title></head><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body>
<span style="position:absolute; border: gray 1px solid; left:0px; top:50px; width:612px; height:792px;"></span>
<div style="position:absolute; top:50px;"><a name="1">Page 1</a></div>
<div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:551px; top:122px; width:10px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:224px; top:141px; width:172px; height:28px;"><span style="font-family: b'Arial,Bold'; font-size:13px">Database Study Material  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span><span style="font-family: b'Arial,Bold'; font-size:13px"> </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:304px; top:211px; width:42px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">Links  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:71px; top:172px; width:96px; height:28px;"><span style="font-family: b'Arial,Bold'; font-size:13px">Introduction : </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span><span style="font-family: b'Arial'; font-size:13px"> </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:78px; top:211px; width:64px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">Subtopic  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:78px; top:240px; width:118px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">What is database  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:78px; top:273px; width:132px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">Types of databases  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:71px; top:326px; width:151px; height:47px;"><span style="font-family: b'Arial'; font-size:13px">  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span><span style="font-family: b'Arial,Bold'; font-size:13px">Relational Database :  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span><span style="font-family: b'Arial'; font-size:13px">  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:78px; top:305px; width:21px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">...  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:78px; top:384px; width:64px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">Subtopic  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:78px; top:413px; width:21px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">...  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:72px; top:434px; width:10px; height:13px;"><span style="font-family: b'Arial,Bold'; font-size:13px"> </span><span style="font-family: b'Arial'; font-size:13px"> </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:304px; top:305px; width:21px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">...  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:312px; top:413px; width:21px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">...  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:312px; top:384px; width:42px; height:13px;"><span style="font-family: b'Arial'; font-size:13px">Links  </span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:304px; top:234px; width:231px; height:60px;"><span style="font-family: b'ABCDEE+Calibri'; font-size:11px">https://www.guru99.com/introduction-to-
<br>database-sql.html 
<br></span><span style="font-family: b'Arial'; font-size:13px">https://www.guru99.com/introduction-
<br>to-database-sql.html</span><span style="font-family: b'ABCDEE+Calibri'; font-size:11px"> 
<br></span></div><span style="position:absolute; border: black 1px solid; left:72px; top:202px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:202px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:202px; width:225px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:202px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:202px; width:241px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:202px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:202px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:202px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:202px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:202px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:231px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:231px; width:225px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:231px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:231px; width:241px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:231px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:232px; width:0px; height:29px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:232px; width:0px; height:29px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:232px; width:0px; height:29px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:261px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:261px; width:225px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:261px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:261px; width:241px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:261px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:261px; width:0px; height:34px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:261px; width:0px; height:34px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:261px; width:0px; height:34px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:296px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:296px; width:225px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:296px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:296px; width:241px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:296px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:297px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:326px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:326px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:326px; width:225px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:297px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:326px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:299px; top:326px; width:241px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:297px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:326px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:326px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:375px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:375px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:375px; width:233px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:375px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:375px; width:233px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:375px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:375px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:375px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:375px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:375px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:404px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:404px; width:233px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:404px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:404px; width:233px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:404px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:405px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:433px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:72px; top:433px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:73px; top:433px; width:233px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:405px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:433px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:307px; top:433px; width:233px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:405px; width:0px; height:28px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:433px; width:0px; height:0px;"></span>
<span style="position:absolute; border: black 1px solid; left:541px; top:433px; width:0px; height:0px;"></span>
