{% extends 'home/base.html' %} {% block title %}Feedback Questions | VisionWare{% endblock %}
{% block head %}
{% load static %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block body %}
<section class="container mt-4 mb-4" style="margin: 2%;">
  <div class="section-heading d-flex justify-content-between">
 <p> <b>Batch</b> : {{feedback_batch.batch_id}}</p> 
  <p> <b>Feedback Title</b> : {{feedback_batch.feedback_title}}</p> 

  </div>
  
  <hr>
  <div class="section-body">
    <p>Overall Feedback Analysis</p>
    <center>
      <div id="piechart_3d" class="shadow-sm p-3 mb-5 bg-white rounded fa fa-pie-chart"></div>
    </center>
    <hr>
    <div class="accordion" id="accordionExample">
      {% for i in feedback_questions %}
      <div class="card">
        <div class="card-header" id="heading_{{i.id}}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{i.id}}"
              aria-expanded="true" aria-controls="collapse_{{i.id}}">
              {{i.question_name}}
            </button>
          </h2>
        </div>

        <div id="collapse_{{i.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="h-50">
              {% if i.question_type == 'rating' %}
              <center><div id="piechart_{{i.id}}"  class="shadow-sm p-3 mb-5 bg-white rounded fa fa-pie-chart" ></div></center>
              {% else %}
              <div class="overflow-auto h-100">
                {% for key,responses in comment_response.items %}
                {% if key == i.id %}
                {% for response in responses %}
                <li class="list-group-item">{{response}}</li>
                {% endfor %}
                {% else %}
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>






</section>
{% endblock %}




{% block script%}
<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var options = {
      title: 'Feedback',
      is3D: true,
    };
    {% for question_id, responses in rating_response.items %}

    var data = google.visualization.arrayToDataTable(
      [
        ['Rate', 'No of students'],
        {% for key, value in responses.items %}
  ['Rate {{ key }}', {{ value }}],
    {% endfor %}
      ]);

  var chart = new google.visualization.PieChart(document.getElementById('piechart_{{question_id}}'));
  chart.draw(data, options);
  {% endfor %}

  var data = google.visualization.arrayToDataTable(
    [
      ['Rate', 'No of students'],
      {% for key,value in overall.items %}
  ['Rate {{ key }}', {{ value }}],
    {% endfor %}
      ]);

  var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
  chart.draw(data, options);
      }


</script>
{% endblock %}