{% extends 'home/base.html' %} {% block title %}Feedback Question| VisionWare{% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<div class="container">
    <div>
        <p class="section-heading mt-4">Feedback-Admin Side</p>
        <a class="btn btn-success" href="{%url 'home:feedback_questions_new'%}">Create New Feedback Question</a>
        <br><br>

    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Question</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in display_all_questions %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td align="centre" name="name">
                    <div class="section-body">
                        <div class="list-group">
                            {{i.question_name}}
                        </div>
                    </div>
                </td>
                <td align="centre">
                    <a class="btn btn-primary" href="{%url 'home:edit_feedback_question' pk=i.id%}">Edit</a>
                    <a class="btn btn-danger" href="{%url 'home:delete_feedback_question' pk=i.id %}">Delete</a>

                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>



</div>

{% endblock %}s