 {% extends 'home/base.html' %} {% block title %}Feedback | VisionWare{% endblock %} {% block head %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Star rating system</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head> {% load static %} {% endblock %} {% block body %}
<br>
<link rel="stylesheet" href="{% static 'home/css/star_rating.css'%}">

<div class="container">
    <div class="rating-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Question</th>
                    <th align="centre" scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for i in feedback_questions %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td align="centre">
                        <div class="section-body">
                            <div class="list-group">
                                {{i.question_name}}
                            </div>
                        </div>
                    </td>
                    <div class="starclass">
                        <td>
                            {% if i.question_type == "rating" %}
                            <div class="star-div-{{i.id}}">
                                <i class="fa fa-star-o star-1" aria-hidden="true"></i>
                                <i class="fa fa-star-o star-2" aria-hidden="true"></i>
                                <i class="fa fa-star-o star-3" aria-hidden="true"></i>
                                <i class="fa fa-star-o star-4" aria-hidden="true"></i>
                                <i class="fa fa-star-o star-5" aria-hidden="true"></i>
                            </div>

                            <!-- <p class="a-{{i.id}}" id="ratingvalue" name="input" disabled>
                            </p> -->

                        </td>


                        {% else %}
                        <br>
                        <div class="form-group ">
                            <textarea name="comment " class="form-control " id="exampleFormControlTextarea1 " rows="3 " placeholder="Enter Your Comment Here! "></textarea>
                        </div> {% endif %}

                </tr>

                <script>
                    document.querySelector('.rating-group').addEventListener('click', function(event) {
                        // Variable to store the class of element
                        console.log("Reached here ");
                        var clickedSelector = ''
                            // add class of parent div
                        clickedSelector += '.' + event.path[1].className
                            // get the class of actual star element which was clicked
                        var innerClass = event.path[0].className.split(' ')[2];
                        clickedSelector += ' i.' + innerClass
                            // get the index of actual star which was clicked
                        var indexOfStar = parseInt(innerClass.split('-')[1])
                            // Change color of all stars before the selected star
                        for (var i = 1; i <= indexOfStar; i++) {
                            var newSelector = clickedSelector.slice(0, clickedSelector.length - 1) + i.toString()
                            document.querySelector(newSelector).classList.add('star-selected')

                        }
                        // Remove golden color of all stars after the selected star 
                        for (var i = indexOfStar + 1; i <= 5; i++) {
                            var newSelector = clickedSelector.slice(0, clickedSelector.length - 1) + i
                            document.querySelector(newSelector).classList.remove('star-selected')
                        }
                        // document.querySelector('.a-{{i.id}}').textContent = innerClass

                    });
                </script>

                {% endfor %}
            </tbody>
        </table>
        </div>
        <br>
        <a class="btn btn-success " href="{%url 'home:index'%} ">Submit Feedback</a>
    </div>

    {% endblock %}