{% extends 'home/base.html' %} {% block title %}C, C++, Java, Python, Web Development Training / Class | VisionWare {% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}

<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <picture>
                    <source srcset="{%static 'home/images/homeCarousel/1.png'%}" media="(min-width: 800px)">
                    <source srcset="{%static 'home/images/homeCarousel/m1.png'%}" media="(min-width: 360px)">
                    <img class="d-block w-100" src="{%static 'home/images/homeCarousel/1.png'%}" alt="Pre Placement Preperation">
                </picture>
            </div>
            <div class="carousel-item">
                <picture>
                    <source srcset="{%static 'home/images/homeCarousel/2.png'%}" media="(min-width: 800px)">
                    <source srcset="{%static 'home/images/homeCarousel/m2.png'%}" media="(min-width: 360px)">
                    <img class="d-block w-100" src="{%static 'home/images/homeCarousel/2.png'%}" alt="Logic Building">
                </picture>
            </div>
            <div class="carousel-item">
                <picture>
                    <source srcset="{%static 'home/images/homeCarousel/3.png'%}" media="(min-width: 800px)">
                    <source srcset="{%static 'home/images/homeCarousel/m1.png'%}" media="(min-width: 360px)">
                    <img class="d-block w-100" src="{%static 'home/images/homeCarousel/3.png'%}" alt="Core Java">
                </picture>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<section class="container mt-2 mb-4">
    <div class="recent-courses mt-3">
        <div class="section-head">
            <p class="section-heading p-0 m-0">New Courses</p>
        </div>
        <div class="section-body shadow">
            <div class="container">
                <div class="row">
                    {%if not courses%}
                    <p class="infotext ml-5 mt-3">New Courses Coming Soon...</p>
                    {%endif%} {%for course in courses%}
                    <div class="col-lg-3 col-md-4 col-6 p-3">
                        <a class="link" href="{%url 'home:course_details' course.course_slug %}">
                            <div class="card h-100">
                                <img src="{{course.course_icon.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title">{{course.course_name}}</p>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="card-text">{{course.level}} Level</p>
                                        </div>
                                        <div class="col-md-4">
                                            {% if not course.is_online %}
                                            <i class="fa fa-building" style="font-size:80%; padding-left: 20px;" aria-hidden="true"></i> {%else%}
                                            <i class="fa fa-desktop" style="font-size:80%; padding-left: 20px;" aria-hidden="true"></i> {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>

    <div class="vision-mission">
        <div class="container p-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="as-container">
                        <div class="as-choice-card">
                            <i class="as-card-icon fa fa-eye"></i>
                            <h3 class="sub-section-heading"><strong>Vision</strong></h3>
                            <p class="as-card-info">
                                Create the technology passionate student community and offer them the best knowledge absorption and knowledge utilization infrastructure
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="as-container">
                        <div class="as-choice-card">
                            <i class="as-card-icon fa fa-space-shuttle"></i>
                            <h3 class="sub-section-heading"><strong>Mission</strong></h3>
                            <p class="as-card-info">
                                We want to spread knowledge taking everyone with us, and convey the messege: knowledge is more important than academics
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="as-container">
                        <div class="as-choice-card">
                            <i class="as-card-icon fa fa-thumbs-up"></i>
                            <h3 class="sub-section-heading"><strong>Values</strong></h3>
                            <p class="as-card-info">
                                We follow PRD ( Pioneering, Refining, Developing ) value cycle. We develope new indeas, refine them and finally bribring them to the action
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow mt-3 p-2">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="videoWrapper">
                    <iframe width="100%" height="310" src="https://www.youtube.com/embed/bgJoUrqjKY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <p class="sub-section-heading mt-sm-2"><strong>FAQ: How to prepare for the placement in IT sector
                        ?</strong></p>
                <hr>
                <p class="">
                    Believe it or not, IT industry is in boom, but still getting a job in this industry is a challenge.
                    <br /><br />If you are looking for a job in this industry, here are few tips :
                    <ul class="">
                        <li>Starting with very basic skill, knowledge of basic computer architecture</li>
                        <li>You should be able to progam using at least 1 Procedural language (C) and 1 Object oriented language (C++, Java, Python, Js)</li>
                        <li>Having good grip on data structures is necessary</li>
                        <li>Database and SQL is a favourite topic among the interviewers</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="highlights-container mt-3">
        <div class="body">
            <!-- <div>
                <p class="section-heading mb-6">Why VisionWare?</p>
            </div> -->
            <div class="row">
                <div class="col-md-4 col-6" data-scroll-reveal="enter from the bottom after 0.4s">
                    <div class="highlights">
                        <div class="head">
                            <i class="fa fa-paper-plane-o icon-round-border"></i>
                            <p class="sub-section-heading">Project Based Learning</p>
                        </div>
                        <!-- <hr />
                    <p class="infotext">
                        We try to bring real life examples to teaching. Trust us, It makes teaching lot more interesting !
                    </p>
                    <hr /> -->
                    </div>
                </div>
                <div class="col-md-4 col-6" data-scroll-reveal="enter from the bottom after 0.5s">
                    <div class="highlights">
                        <div class="head">
                            <i class="fa fa-users icon-round-border"></i>
                            <p class="sub-section-heading">Discussion Forums</p>
                        </div>
                        <!-- <hr/>
                    <p class="infotext">
                        Tech discussions with experetise. This helps students to build powerful developer network.
                    </p>
                    <hr/> -->
                    </div>
                </div>
                <div class="col-md-4 col-12" data-scroll-reveal="enter from the bottom after 0.6s">
                    <div class="highlights">
                        <div class="head">
                            <i class="fa fa-magic icon-round-border"></i>
                            <p class="sub-section-heading">Seminars</p>
                        </div>
                        <!-- <hr/>
                    <p class="infotext">
                        seminars on trending IT topics by experts. Brings awareness about the Technology.
                    </p>
                    <hr/> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 col-6" data-scroll-reveal="enter from the bottom after 0.5s">
                    <div class="highlights">
                        <div class="head">
                            <i class="fa fa-building icon-round-border"></i>
                            <p class="sub-section-heading">Industry Aproach</p>
                        </div>
                        <!-- <hr/>
                            <p class="infotext">
                                Tech discussions with experetise. This helps students to build powerful developer network.
                            </p>
                            <hr/> -->
                    </div>
                </div>
                <div class="col-md-4 col-6" data-scroll-reveal="enter from the bottom after 0.4s">
                    <div class="highlights">
                        <div class="head">
                            <i class="fa fa-laptop icon-round-border"></i>
                            <p class="sub-section-heading">Internship Opportunities</p>
                        </div>
                        <!-- <hr />
                    <p class="infotext">
                        We try to bring real life examples to teaching. Trust us, It makes teaching lot more interesting !
                    </p>
                    <hr /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="section-head">
            <p class="section-heading m-0 p-0">The Journey</p>
        </div>
        <div class="section-body p-1 shadow">
            <div class="image-grid">
                <div class="img-row">
                    <div class="column">
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/1.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/15.jpeg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/11.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/3.jpg'%}">
                        </div>
                    </div>
                    <div class="column">
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/16.jpeg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/5.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/8.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/10.jpg'%}">
                        </div>
                    </div>
                    <div class="column">
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/9.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/7.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/4.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/14.jpg'%}">
                        </div>
                    </div>
                    <div class="column">
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/6.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/12.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/2.jpg'%}">
                        </div>
                        <div class="zoomIn">
                            <img src="{%static 'home/images/grid-images/17.jpeg'%}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %} {% block script%}
<script>
</script>
{% endblock %}