{% extends 'home/base.html' %} {% block title %}C, C++, Java, Python, Web Development Training / Class | VisionWare {% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<section>
    <p class="section-heading mt-4">Top Trainings</p>
    <div class="section-body">
        <div class="row">
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <img src="{% static 'home/images/course/course.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Course name</p>
                        <p class="card-text">Some brief intro about the course.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <img src="{% static 'home/images/course/course.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Course name</p>
                        <p class="card-text">Some brief intro about the course.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <img src="{% static 'home/images/course/course.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Course name</p>
                        <p class="card-text">Some brief intro about the course.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <img src="{% static 'home/images/course/course.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Course name</p>
                        <p class="card-text">Some brief intro about the course.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="image-grid">
    <div class="row">
        <div class="col-md-3 col-6"></div>
        <div class="col-md-3 col-6"></div>
        <div class="col-md-3 col-6"></div>
        <div class="col-md-3 col-6"></div>
    </div>
</div>
{% endblock %} {% block script%}
<script>
</script>
{% endblock %}