{% extends 'home/base.html' %}
{% block title %}Logic Building With C++ course Material{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="promotion">
    <div class="container-fluid">
    <br>
    <div class="row" >
        <div class="col-md-5" style="margin-bottom: 50px">
            <img alt="workshop in PCCOE"  src="{%static 'home/images/courses/lbwithcpp.png'%}" width="100%" >
        </div>
        <div class="col-md-5">
            <div class="row">

                <div class="col-md-3">
                    <a href="{%static 'home/ppts/tut1.pdf'%}">
                    <img alt="workshop in PCCOE"  src="{%static 'home/images/pdf.png'%}" width="100px" >
                        <h4>Tutorial Sheet 1</h4>
                        </a>
                </div><div class="col-md-3">
                    <a href="{%static 'home/ppts/oop_c++.pdf'%}">
                    <img alt="workshop in PCCOE"  src="{%static 'home/images/pdf.png'%}" width="100px" >
                        <h4>OOP Concepts</h4>
                        </a>
                </div><div class="col-md-3">
                    <a href="{%static 'home/ppts/tut2.pdf'%}">
                    <img alt="workshop in PCCOE"  src="{%static 'home/images/pdf.png'%}" width="100px" >
                        <h4>Tutorial Sheet 2</h4>
                        </a>
                </div><div class="col-md-3">
                    <a href="{%static 'home/ppts/inheritance.pdf'%}">
                    <img alt="workshop in PCCOE"  src="{%static 'home/images/pdf.png'%}" width="100px" >
                        <h4>Inheritance in C++</h4>
                        </a>
                </div><div class="col-md-3">
                    <a href="{%static 'home/ppts/tut3.pdf'%}">
                    <img alt="workshop in PCCOE"  src="{%static 'home/images/pdf.png'%}" width="100px" >
                        <h4>Tutorial Sheet 3</h4>
                        </a>
                </div>


            </div>

        </div>
    </div>

    </div>
    </div>
    <div id="footer">
          &copy 2018 visionware.online | All Rights Reserved |  <a href="#" style="color: #fff" target="_blank">Design by : Team VW</a>
    </div>
{% endblock %}








