{% extends 'home/base.html' %} {% block title %}Placement For Sure | VisionWare {% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<div class="container mt-4 mb-4">
    <div class="center">
        <h3><strong>INTRODUCING PLACEMENT FOR SURE 2.0</strong></h3>
    </div>
    <hr>
    <p class="sub-section-heading">Do you want placement in top IT companies ? Join Placement For Sure Batch at VisionWare and enjoy the best crafted Curriculum designed by the experts. Attend Mock Aptitude Tests, Personal & HR Interviews and Group Discussions before the real One.
    </p>
    <hr>
    <div class="container mt-4 p-3 center" style="background-color:black;color: white; border-radius: 15px;">
        <h4 class="m-0"><strong>The Best Curriculum</strong></h4>
    </div>
    <div class="container mt-2">
        <picture>
            <source srcset="{%static 'home/images/pfs/1.png'%}" media="(min-width: 800px)">
            <source srcset="{%static 'home/images/pfs/m1.png'%}" media="(min-width: 360px)">
            <img class="d-block w-100" src="{%static 'home/images/pfs/1.png'%}">
        </picture>
    </div>
    <div class="container mt-4 p-3 center" style="background-color:black;color: white; border-radius: 15px;">
        <h4 class="m-0"><strong>Learn from Experts</strong></h4>
    </div>
    <div class="container mt-2">
        <picture>
            <source srcset="{%static 'home/images/pfs/5.png'%}" media="(min-width: 800px)">
            <source srcset="{%static 'home/images/pfs/m5.png'%}" media="(min-width: 360px)">
            <img class="d-block w-100" src="{%static 'home/images/pfs/5.png'%}">
        </picture>
    </div>
    <div class="container mt-4 p-3 center" style="background-color:black;color: white; border-radius: 15px;">
        <h4 class="m-0"><strong>Achievements From PFS 1.0</strong></h4>
    </div>
    <div class="container mt-3">
        <picture>
            <source srcset="{%static 'home/images/pfs/2.png'%}" media="(min-width: 800px)">
            <source srcset="{%static 'home/images/pfs/m2.png'%}" media="(min-width: 360px)">
            <img class="d-block w-100" src="{%static 'home/images/pfs/2.png'%}">
        </picture>
    </div>
    <div class="container mt-3">
        <picture>
            <source srcset="{%static 'home/images/pfs/3.png'%}" media="(min-width: 800px)">
            <source srcset="{%static 'home/images/pfs/m3.png'%}" media="(min-width: 360px)">
            <img class="d-block w-100" src="{%static 'home/images/pfs/3.png'%}">
        </picture>
    </div>
    <div class="container mt-3">
        <picture>
            <source srcset="{%static 'home/images/pfs/4.png'%}" media="(min-width: 800px)">
            <source srcset="{%static 'home/images/pfs/m4.png'%}" media="(min-width: 360px)">
            <img class="d-block w-100" src="{%static 'home/images/pfs/4.png'%}">
        </picture>
    </div>
</div>
{% endblock %} {% block script%}
<script>
</script>
{% endblock %}