{% extends 'home/base.html' %}
{% block title %}students Result{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container">
    <br/>
    <br/>
    <br/>
<div class="row">

<div class="col-md-2">      <!--Left blank to add student photo in future-->
    {%if student.admission%}
    <button type="button" class="btn btn-success">
        You are <br>part of VisionWare</button>
    {%else%}<button type="button" class="btn btn-danger">
        Pending</button>{%endif%}

</div>

 <div class="col-md-5">

    <h2>Student Details : </h2>
<hr>
     <h4>Enrollment Number : </h4>{{student.pk}}<hr>
<h4>Name: </h4>{{student.name}}<hr>
 <h4>Email Id: </h4>{{student.email}}<hr>
     <h4>Phone Number</h4>{{student.phone}}<hr>
     <div class="row">
         <div class="col-md-3">
      <h4>College</h4>{{student.college}}<hr></div>
         <div class="col-md-2">
             <h4>Year</h4>{{student.year}}<hr></div>
         </div>
     <h4>Other Interest Specified: </h4>{{student.interest}}<hr>
</div>
    <div class="col-md-5">
    <h2>Course Details : </h2>
<hr>
<h4>Course Applied : </h4>{{student.course}}<hr>

        <h4>Admission Date Time </h4>{{student.date_time}}<hr>
        <h4>Total Course Fees: </h4>{{student.course.fees}} rs<hr>
        <h4>Total Fees Paid: </h4>
        <div class="row">
            <div class="col-md-6">
        {{student.fees_paid}} rs<hr>
                </div>
            <div class="col-md-6">
        {%ifnotequal student.course.fees student.fees_paid%}
        <a href="{% url 'home:pay_fees' pk=student.id%}">
                            <button type="button" class="btn btn-success" >Pay remaining Fees</button></a>
        {%endifnotequal%}
            </div>
            </div>
        <h4>Admission Confirmed By  : </h4><hr>
</div>

</div>
    </div>

{% endblock %}