.form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}

.form-row .errorlist {
    overflow: hidden;
    color: red;
    display: block;
    width: 100%;
}

.form-row label {
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}

.form-row input[type="text"],
input[type="number"],
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
}

.form-row input {
    height: 35px;
}


/*create course styles*/

.generated-form .form-controls {
    text-align: right;
}

.generated-form {
    margin: 0;
    padding: 0;
    display: block;
}


/*loginform styles*/

.login-container .head {
    text-align: center;
}

.login-container {
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    padding: 20px;
    margin: 20px;
}

.login-container .body input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
    padding-left: 5px;
}

.login-container .body .btn {
    width: 160px;
    background-color: #38b6ff;
    color: white;
    border-radius: 4px;
    height: 35px;
}

.login-container .body .form-controls {
    text-align: center;
}