{% extends 'home/base.html' %} {% block title %}Feedback | VisionWare{% endblock %} {% block head %} {% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'home/css/star_rating.css'%}"> {% endblock %} {% block body %}
<div class="container mt-4 mb-4">
    <div class="center mb-2">
        <p class="section-heading ">{{feedback_batch.feedback_title}} for {{feedback_batch.batch.batch_name}}</p>
    </div>
    <form>
        <input type="hidden" name="email" id="user_email" value="{{student.email}}">
        <input type="hidden" name="dob" id="user_dob" value="{{student.dob}}">
        <div class="rating-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Question</th>
                        <th scope="col">Response</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fq in feedback_questions %}
                    <tr>
                        <td scope="row">{{fq.id}}</td>
                        <td>
                            <div class="section-body">
                                <div class="list-group">
                                    {{fq.question}}
                                </div>
                            </div>
                        </td>
                        <td>
                            {% if fq.question_type == "rating" %}
                            <div class="starclass star-rating">
                                <div class="star-div-{{fq.id}}">
                                    <i class="fa fa-star-o star-1" aria-hidden="true"></i>
                                    <i class="fa fa-star-o star-2" aria-hidden="true"></i>
                                    <i class="fa fa-star-o star-3" aria-hidden="true"></i>
                                    <i class="fa fa-star-o star-4" aria-hidden="true"></i>
                                    <i class="fa fa-star-o star-5" aria-hidden="true"></i>
                                </div>
                            </div>
                            {% else %}
                            <div class="form-group comment-box">
                                <textarea name="comment " class="form-control comment-{{fq.id}}" id="exampleFormControlTextarea1 " rows="3 " placeholder="Your Answer Here"></textarea>
                            </div> {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success form-submit">Submit Feedback</a>
        </div>
    </form>

</div>
{% endblock %} {%block script %}
<script>
    let answerObject = {
        userDetails: {
            "userEmail": document.getElementById('user_email').value,
            "userDob": document.getElementById('user_dob').value,
        },
        answers: {}
    }
    document.querySelector('.rating-group').addEventListener('click', function(event) {
        // Variable to store the class of element
        var clickedSelector = '';
        // add class of parent div
        clickedSelector += '.' + event.path[1].className;
        const questionNumber = event.path[1].className.split('-')[2];
        console.log(event)
        console.log(questionNumber);

        // get the class of actual star element which was clicked
        var innerClass = event.path[0].className.split(' ')[2];
        clickedSelector += ' i.' + innerClass;
        // get the index of actual star which was clicked
        if (innerClass) {
            var indexOfStar = parseInt(innerClass.split('-')[1])
        }
        // Change color of all stars before the selected star
        for (var i = 1; i <= indexOfStar; i++) {
            var newSelector = clickedSelector.slice(0, clickedSelector.length - 1) + i.toString();
            document.querySelector(newSelector).classList.add('star-selected');
        }

        // Remove golden color of all stars after the selected star 
        for (var i = indexOfStar + 1; i <= 5; i++) {
            var newSelector = clickedSelector.slice(0, clickedSelector.length - 1) + i;
            document.querySelector(newSelector).classList.remove('star-selected');
        }

        // if(questionNumber && indexOfStar) {
        //     answerObject[questionNumber] = indexOfStar;
        // }
    });

    document.querySelector('.form-submit').addEventListener('click', function(event) {
        let url = "{%url 'home:feedback_proceed' 1 %}"
        makeAnswerObject();
        post(url, answerObject);
    })

    // Function to create answer object
    function makeAnswerObject() {
        // Get ratings answers
        let starRatings = document.querySelectorAll('.star-rating')
        for (const starRating of starRatings) {
            let childClass = starRating.childNodes[1]['classList'][0];
            let question = childClass.split('-')[2];

            // Find out how many childrens has star-selected class
            let starChildrens = starRating.childNodes[1]['children'];
            let count = 0;
            for (const starChildren of starChildrens) {
                if (starChildren.classList.contains('star-selected')) {
                    count++;
                }
            }
            answerObject.answers[question] = count;
        }

        // Get comments answers
        let commentBoxes = document.querySelectorAll('.comment-box');
        for (const commentBox of commentBoxes) {
            let classes = commentBox.childNodes[1].classList
            let question = classes[1].split('-')[1]
            answerObject.answers[question] = commentBox.childNodes[1].value;
        }
    }

    // Function to submit form
    function post(path, params, method = 'post') {
        const form = document.createElement('form');
        form.method = method;
        form.action = path;
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = JSON.stringify(params[key]);
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>
{%endblock%}