{% extends 'home/base.html' %} {% block title %}Feedback First Steps | VisionWare{% endblock %} {% block head %} {% load static %}
<link href="{% static 'home/css/datepicker.min.css' %}" rel="stylesheet" type="text/css"> {% endblock %} {% block body %}
<div class="container mt-4 mb-4">
    <div class="card col-md-8 offset-md-2">
        <div class="card-header center">
            <h3 class="sub-section-heading">
                Online Feedback System : First Steps
            </h3>
        </div>
        <div class="card-body">
            <form class="admission-form" role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %} {%if form.non_field_errors%}
                <div class="cust-form-row">
                    {{ form.non_field_errors }}
                </div>
                {%endif%} {%if error_message%}
                <div class="cust-form-row">
                    <ul class="errorlist">
                        {{error_message|safe}}
                    </ul>
                </div>
                {%endif%}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" autocomplete="off" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dob">Date Of Birth</label>
                        <input type="text" class="form-control date-input" name="dob" placeholder="YYYY-MM-DD" autocomplete="off" required/>
                    </div>
                </div>

                <div class="form-controls center">
                    <button type="submit" class="btn">Proceed Further</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br> {% endblock %} {%block script %}
<script src="{% static 'home/js/datepicker.min.js' %}"></script>
<script src="{% static 'home/js/datepicker.en.js' %}"></script>
<script>
    $('.date-input').datepicker({
        language: 'en',
        dateFormat: "yyyy-mm-dd",
        autoClose: true
    })
</script>
{%endblock%}