{% extends 'home/base.html' %} {% block title %}Placements | VisionWare {% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<div class="container">
    <p class="section-heading">Add New Placement Detail</p>
    <div class="col-lg-6 col-10">
        <form enctype="multipart/form-data" method="POST" class="generated-form mb-5">
            {% include 'home/form_template.html' %}
            <div class="form-controls">
                <button type="submit" class="btn btn-success mt-1">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block script%}
<script>
</script>
{% endblock %}