{% extends 'home/base.html' %} {% block title %}C, C++, Java, Python, Web Development Training / Class | VisionWare {% endblock %} {% block head %} {% load static %} {% endblock %} {% block body %}
<div class="container mt-3 mb-3">
    <div class="recent-courses">
        <div class="section-head">
            <p class="section-heading p-0 m-0">Classroom Trainings</p>
        </div>
        <div class="section-body shadow">
            <div class="container">
                <div class="row">
                    {%if not offline_courses%}
                    <p class="infotext ml-5 mt-3">Coming Soon...</p>
                    {%endif%} {%for course in offline_courses%}
                    <div class="col-lg-3 col-md-4 col-6 p-3">
                        <a class="link" href="{%url 'home:course_details' course.course_slug %}">
                            <div class="card">
                                <img src="{{course.course_icon.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title"><strong>{{course.course_name}}</strong></p>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="card-text" style="color: green;"><strong>{{course.level}} Level</strong></p>
                                        </div>
                                        <div class="col-md-4">
                                            {% if not course.is_online %}
                                            <i class="fa fa-building" style="font-size:80%; padding-left: 20px;" aria-hidden="true"></i> {%else%}
                                            <i class="fa fa-desktop" style="font-size:80%; padding-left: 20px;" aria-hidden="true"></i> {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="recent-courses mt-3">
        <div class="section-head">
            <p class="section-heading p-0 m-0">Online Trainings</p>
        </div>
        <div class="section-body shadow">
            <div class="container">
                <div class="row">
                    {%if not online_courses%}
                    <p class="infotext ml-5 mt-3">Coming Soon...</p>
                    {%endif%} {%for course in online_courses%}
                    <div class="col-lg-3 col-md-4 col-6 p-3">
                        <a class="link" href="{%url 'home:course_details' course.course_slug %}">
                            <div class="card">
                                <img src="{{course.course_icon.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title"><strong>{{course.course_name}}</strong></p>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="card-text" style="color: green;"><strong>{{course.level}} Level</strong></p>
                                        </div>
                                        <div class="col-md-4">
                                            {% if not course.is_online %}
                                            <i class="fa fa-building" style="font-size:80%; padding-left: 20px;" aria-hidden="true"></i> {%else%}
                                            <i class="fa fa-desktop" style="font-size:80%; padding-left: 20px;" aria-hidden="true"></i> {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script>
</script>
{% endblock %}