<div style="font-family: 'Courier New', Courier, monospace;">
    <div style="border: 3px solid #38b6ff; border-radius: 10px; padding:10px; width: 500px;">
        <div style="text-align: center; border-bottom: 1px solid #38b6ff">
            <p style="font-size: 20px; font-weight: 600;">Welcome to VisionWare Family 🥳</p>
        </div>
        <div style="margin:10px;border-bottom: 1px solid #38b6ff">
            <p>
                Hello {{name}},<br/> Your Admission for <strong>{{course_name}}</strong> course is confirmed. You are on a path towards a bright future. Hope you will enjoy this experience.
            </p>
        </div>
        <div style="margin:10px; padding:10px;background-color: rgb(240, 238, 238);">
            <table style="border-collapse: collapse; width: 100%; ">
                <tr>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">Batch </td>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">: {{batch_name}}
                    </td>
                </tr>
                <tr style="padding:5px;">
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">Admission Status</td>
                    <td style="border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">:
                        <span style="color: rgb(8, 156, 8);">Confirmed</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">Total Fees </td>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">: {{total_fees}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">Fees Paid :</td>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">: {{paid_fees}}</td>
                </tr>
                <tr>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">Date :</td>
                    <td style="width: 240;border-bottom: 1px solid rgb(192, 192, 192);padding:7px;">: {{date}}</td>
                </tr>
            </table>

        </div>
        <div style="text-align: center;">
            <img src="https://drive.google.com/uc?export=download&id=1mLCa1UlTKrV62miozEoL1r_kmuQMmoBZ" width="200px" alt="www.visionware.in">
        </div>
    </div>
</div>